* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:#E3D6C5;
  background: -webkit-linear-gradient(to right, #82b1ec, #f7f6f6);
  background: linear-gradient(to right, #5f8df1,#faf9f9);
}


 
.nav-link {
  margin: 20px;
  color:white !important;
  &:hover {
    color:#5f8df1  !important;
  }
}
.active {
  text-decoration: underline !important;
}
.player-kart{
  max-width: 600px;
  min-width: 600px  !important;
}
/* .new{
  opacity: .6;
} */

/* .card {
  border: none;

  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
} */

/* .card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #f1f2b5;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom;
} */

/* .card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #135058;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom;
} */

/* .card:hover::after {
  transform: scaleY(1);
} */
.icon{
  font-size: 1.2rem;
}
.textarea{
  height: 150px;
}
.navbar{
  background-color: #3b4446 !important;
}
.fonts {
  font-size: 11px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.contact{
  color: #135058;
}

.social-list li {
  padding: 10px;
  color: #135058;
  font-size: 19px;
}



.buttons button:nth-child(1) {
  border: 1px solid #5f8df1!important;
  color: #5f8df1;
  height: 40px;
}

.buttons button:nth-child(1):hover {
  border: 1px solid #5f8df1 !important;
  height: 40px;
  background-color: #5f8df1;
  
    color: #fff !important;
  
}

.buttons button:nth-child(2) {
  border: 1px solid#5f8df1 !important;
  background-color: #5f8df1;
  color: #fff;
  height: 40px;
}

